.third-page {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.two-third-page {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.ingredient-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ingredient-search-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 75%;
}

.ingredient-search-buttons {
    flex-grow: 1;
}

.ingredient-search-text {
    flex-grow: 1;
}

.ingredient-search-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ingredient-chip-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: center;
}

.recipe-list-container {
    height: 100%;
    width: 100%;
}